<main>
    <img class="vector" src="./../../assets/img/backgrounds/vector.png">
    <div class="main-content">
        <article class="description">
            <h1>About me</h1>
            <p>Ich bin, ein leidenschaftlicher Frontend-Entwickler aus Nürnberg, spezialisiert auf HTML,
                CSS, JavaScript und Angular. Im Jahr 2023 begann meine spannende Reise in die Welt der Webentwicklung.
            </p>
            <section>
                <div class="sub-description">
                    <div><img src="../../assets/img/icons/icon-lamp.png" alt="icon-lamp"></div>
                    <span>Meine Entwickler-Skills habe ich an der Developer Akademie in München erworben. Dort lernte
                        ich in vielen Projekten den Frontend Tech-Stack und sammelte intensive Erfahrungen im Einsatz
                        von Frameworks, Libraries und APIs. Dabei eignete ich mir auch eine agile und teamorientierte
                        Arbeitsweise auf Basis der Scrum-Methode an.</span>
                </div>
                <div class="sub-description">
                    <div><img src="../../assets/img/icons/icon-puzzle.png" alt="icon-puzzle"></div>
                    <span>Meine Entwickler-Skills habe ich an der Developer Akademie in München erworben. Dort lernte
                        ich in vielen Projekten den Frontend Tech-Stack und sammelte intensive Erfahrungen im Einsatz
                        von Frameworks, Libraries und APIs. Dabei eignete ich mir auch eine agile und teamorientierte
                        Arbeitsweise auf Basis der Scrum-Methode an.</span>
                </div>
            </section>
        </article>
        <div class="character-container">
            <img class="background-image" src="assets/img/backgrounds/purple-lightblue.png"
                alt="background-image-purple-lightblue">
            <img class="character-front" src="./../../assets/img/character-front.png" alt="">
            <img class="character-back" src="./../../assets/img/character-back.png" alt="">
        </div>
    </div>

</main>