@import "./../../../styles.scss";

main {
  position: relative;
  @include dflex();
  width: 100vw;
  height: calc(100vh - 80px);
  .backgroundlight-left {
    position: absolute;
    left: -200px;
    bottom: 50px;
    width: 600px;
    height: 250px;
  }
}

.content-container {
  position: relative;
  overflow: visible;
  width: 80vw;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
}

.about-me-description {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  text-align: justify;
}

.description-container {
  position: relative;
  @include dflex($jc: space-between, $g: 20px);
  width: 80vw;
  max-width: 1920px;
  .description {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 3;
    font-size: clamp(0.8rem, 1vw, 1rem);
    div {
      display: flex;
      gap: 5%;
      .description-icons {
        @include dflex();
      }
    }
  }
}

.image-box {
  @include dflex();
  background-image: url("./../../../assets/img/backgrounds/photo-shadows.png");
  @include backgroundImg();
  width: 400px;
  height: 400px;
  border: solid 3px var(--sub-text-blue);
  border-radius: 50%;
  img {
    margin-top: 80px;
    margin-right: 30px;
    width: 350px;
    height: auto;
  }
}

.line {
  position: absolute;
  top: 50%;
  right: -500px;
  width: 500px;
  height: 2px;
  background-color: var(--sub-text-blue);
}
