<main>
    <div class="content-container">
        <div class="about-me-description">
            <div class="title">
                <h2>Über mich</h2>
            </div>

            <div class="description-container">
                <div class="description">
                    <p>Ich bin, ein leidenschaftlicher Frontend-Entwickler aus Nürnberg, spezialisiert auf HTML,
                        CSS, JavaScript und Angular. Im Jahr 2023 begann meine spannende Reise in die Welt der
                        Webentwicklung.
                    </p>
                    <div>
                        <div class="description-icons">
                            <img src="./../../../assets/img/icons/icon-lamp.png" alt="icon-lamp">
                        </div>
                        <p>Durch meine Ausbildung an der Developer Akademie in München habe ich umfassende
                            Entwickler-Skills erworben. In zahlreichen Teamprojekten vertiefte ich mein Wissen im
                            Frontend Tech-Stack, arbeitete eng mit Kollegen zusammen und nutzte Frameworks, Libraries
                            und APIs. Dabei entwickelte ich eine agile Arbeitsweise nach der Scrum-Methode, die auf
                            Teamorientierung und effizienter Zusammenarbeit basiert.</p>
                    </div>

                    <div>
                        <div class="description-icons">
                            <img src="./../../../assets/img/icons/icon-puzzle.png" alt="icon-lamp">
                        </div>
                        <p>Im Beruf als Frontend-Entwickler gefällt mir besonders die dynamische Schnittstelle zwischen
                            Technologie und Design. Diese Balance zwischen Funktionalität und Ästhetik, die
                            Zusammenarbeit mit Designern und das Streben nach einer guten Benutzererfahrung sind für
                            mich nicht nur Herausforderungen, sondern auch Ansporn, ständig nach Verbesserungen zu
                            suchen.</p>
                    </div>
                </div>

                <div class="image-box">
                    <img class="character-front" src="./../../../assets/img/character-front-small.png" alt="character-front">
                </div>

                <div class="line"></div>
            </div>
        </div>



    </div>
</main>