<main>
    <img class="backgroundlight-left" src="./../../../assets/img/backgrounds/neon-shadow2.png" alt="backgroundlight-left">


    <div class="content-container">
        <div class="about-me-description">
            <div class="title">
                <h2>About me</h2>
            </div>

            <div class="description-container">
                <div class="description">
                    <p>Ich bin, ein leidenschaftlicher Frontend-Entwickler aus Nürnberg, spezialisiert auf HTML,
                        CSS, JavaScript und Angular. Im Jahr 2023 begann meine spannende Reise in die Welt der
                        Webentwicklung.
                    </p>
                    <div>
                        <div class="description-icons">
                            <img src="./../../../assets/img/icons/icon-lamp.png" alt="icon-lamp">
                        </div>
                        <p>Meine Entwickler-Skills habe ich an der Developer Akademie in München erworben. Dort lernte
                            ich in vielen Projekten den Frontend Tech-Stack und sammelte intensive Erfahrungen im
                            Einsatz
                            von Frameworks, Libraries und APIs.</p>
                    </div>

                    <div>
                        <div class="description-icons">
                            <img src="./../../../assets/img/icons/icon-puzzle.png" alt="icon-lamp">
                        </div>
                        <p>Meine Entwickler-Skills habe ich an der Developer Akademie in München erworben. Dort lernte
                            ich in vielen Projekten den Frontend Tech-Stack und sammelte intensive Erfahrungen im
                            Einsatz
                            von Frameworks, Libraries und APIs. Dabei eignete ich mir auch eine agile und
                            teamorientierte
                            Arbeitsweise auf Basis der Scrum-Methode an.</p>
                    </div>
                </div>

                <div class="image-box">
                    <img class="character-front" src="./../../../assets/img/character-front.png" alt="character-front">
                </div>

                <div class="line"></div>
            </div>
        </div>



    </div>
</main>