<main>
    <div class="content-container">
        <div class="about-me-description">
            <div class="title">
                <h1>About me</h1>
            </div>

            <div class="description">
                <p>Ich bin, ein leidenschaftlicher Frontend-Entwickler aus Nürnberg, spezialisiert auf HTML,
                    CSS, JavaScript und Angular. Im Jahr 2023 begann meine spannende Reise in die Welt der
                    Webentwicklung.
                </p>

            </div>
        </div>

        <div class="image-box">
            <img src="./../../../assets/img/backgrounds/photo-shadows.png" alt="image-background-shadows">
            <img class="character-back" src="./../../../assets/img/character-back.png" alt="character-back">
            <img class="character-front" src="./../../../assets/img/character-front.png" alt="character-front">
        </div>
    </div>

    <img class="img-vector" src="./../../../assets/img/backgrounds/vector.png" alt="">

</main>