<main>
    <div class="headline">
        <div class="left-line"></div>
        <h2>Portfolio</h2>
        <div class="right-line"></div>
    </div>

    <div class="my-projects-container">
        <p style="margin-bottom: 24px;">This page is a sample of my work - please feel free to try them out.</p>

        <div class="single-project">
            <img src="./../../../assets/img/joinScreen.png" alt="join-screen">
            <div class="project-description">
                <span class="project-headline">Join</span>
                <span class="tech-description">JavaScript | HTML | CSS</span>
                <span class="description">Task manager inspired by the Kanban system. Create and organize tasks by drag
                    and drop, assign other users, set due dates and manage your contacts.</span>
                <div class="button-container">
                    <button class="btn-live-test"><a href="https://join.ricki-weigel.com/" target="_blank">Live
                            test</a></button>
                    <button class="btn-guthub"><a href="https://github.com/RickiWeigel/Join"
                            target="_blank">Github</a></button>
                </div>
            </div>
        </div>

        <div class="single-project flex-rev">
            <img src="./../../../assets/img/sharkieScreen.png" alt="sharkie-screen">
            <div class="project-description">
                <span class="project-headline">Sharkie</span>
                <span class="tech-description">JavaScript | HTML | CSS | OOP</span>
                <span class="description">A simple Jump-and-Run game based on an object-oriented approach. Help sharkie
                    to find coins and poison bottles to fight against the killer whale.</span>
                <div class="button-container">
                    <button class="btn-live-test">
                        <a href="https://sharkie.ricki-weigel.com/" target="_blank">Live test</a></button>
                    <button class="btn-guthub"><a href="https://github.com/RickiWeigel/sharkie"
                            target="_blank">Github</a></button>
                </div>
            </div>
        </div>


    </div>
</main>