<main>
    <div class="headline">
        <div class="left-line"></div>
        <h2>Portfolio</h2>
        <div class="right-line"></div>
    </div>

    <div class="my-projects-container">
        <p>Hier sind einige Beispiele für meine Projekte - probieren Sie sie gerne aus.</p>

        <div class="single-project">
            <img src="./../../../assets/img/joinScreen.png" alt="join-screen">
            <div class="project-description">
                <span class="project-headline">Join</span>
                <span class="tech-description">JavaScript | HTML | CSS</span>
                <span class="description">Ein Aufgabenmanager, inspiriert vom Kanban-System. Erstelle und organisiere
                    Aufgaben per Drag and Drop, weise Aufgaben Benutzern zu, setze Fälligkeitsdaten und verwalte deine
                    Kontakte.</span>
                <div class="button-container">
                    <button class="btn-live-test"><a href="https://join.ricki-weigel.com/" target="_blank">Live
                            test</a></button>
                    <button class="btn-guthub"><a href="https://github.com/RickiWeigel/Join"
                            target="_blank">Github</a></button>
                </div>
            </div>
        </div>

        <div class="single-project flex-rev">
            <img src="./../../../assets/img/sharkieScreen.png" alt="sharkie-screen">
            <div class="project-description">
                <span class="project-headline">Sharkie</span>
                <span class="tech-description">JavaScript | HTML | CSS | OOP</span>
                <span class="description">Ein einfaches Jump-and-Run-Spiel, dass auf einem objektorientierten Ansatz
                    basiert. Hilf Sharkiedabei, Münzen und Giftflaschen zu finden, um gegen den Killerwal zu kämpfen.</span>
                <div class="button-container">
                    <button class="btn-live-test">
                        <a href="https://sharkie.ricki-weigel.com/" target="_blank">Live test</a></button>
                    <button class="btn-guthub"><a href="https://github.com/RickiWeigel/sharkie"
                            target="_blank">Github</a></button>
                </div>
            </div>
        </div>


    </div>
</main>