<main>
    <img src="./../../../assets/img/backgrounds/purple-shadow.png" alt="backgroundlight-left"
        class="backgroundlight-left">
    <img src="./../../../assets/img/backgrounds/neon-shadow.png" alt="backgroundlight-right"
        class="backgroundlight-right">
    <img src="./../../../assets/img/backgrounds/vector.png" alt="" class="vector">

    <div class="headline-container">
        <div class="headline">
            <div class="vertical-headline"><span>I am</span></div>
            <div class="horizontal-headline">
                <span class="name-headline">Ricki Weigel</span>
                <span class="sub-headline">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <button><a href=""><span>Let's talk!</span></a></button>
    </div>
    
    <div class="social-media">
        <div class="line"></div>
        <div class="social-media-content">
            <div class="social-media-icons">
                <a href=""><img src="./../../../assets/img/icons/icon-github.png" alt="icon-github"></a>
                <a href=""><img src="./../../../assets/img/icons/icon-mail.png" alt="icon-mail"></a>
                <a href=""><img src="./../../../assets/img/icons/icon-linkedin.png" alt="icon-linkedin"></a>
            </div>
            <div class="scroll-down">
                <span>Scroll down</span>
                <img src="./../../../assets/img/icons/arrow.png" alt="arrow">

            </div>
        </div>
        <div class="space"></div>
    </div>
</main>