<main>
    <img src="./../../../assets/img/backgrounds/vector.png" alt="" class="vector">


    <div class="headline-container">
        <div class="headline">
            <div class="vertical-headline"><span data-aos="fade-left" data-aos-duration="1700">I am</span></div>
            <div data-aos="flip-right" data-aos-duration="1700" class="horizontal-headline">
                <span class="name-headline">Ricki Weigel</span>
                <span class="sub-headline">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <a href="#contact"><button class="button-to-contact">Let's talk!</button></a>
    </div>

    <div class="social-media">
        <div class="line"></div>
        <div class="social-media-content">
            <div class="social-media-icons">
                <a href="https://github.com/RickiWeigel" target="_blank"><img
                        src="./../../../assets/img/icons/icon-github.png" alt="icon-github"></a>
                <a href="mailto:contact@ricki-weigel.com"><img src="./../../../assets/img/icons/icon-mail.png" alt="icon-mail"></a>
                <a href="https://www.linkedin.com/in/ricki-weigel/" target="_blank"><img
                        src="./../../../assets/img/icons/icon-linkedin.png" alt="icon-linkedin"></a>
            </div>
            <div class="scroll-down">
                <a href="#about-me"><span>Scroll down</span></a>
                <img src="./../../../assets/img/icons/arrow.png" alt="arrow">
            </div>
        </div>
        <div class="space"></div>
    </div>
</main>