@import "./../../../styles.scss";

main {
  @include dflex($ai: flex-start);
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  margin-top: 160px;
}

.contact-container {
  @include dflex();
  margin-top: 180px;
  flex-direction: column;
  width: 80vw;
  height: 100%;
  max-width: 1920px;
}

.headline-container {
  display: flex;
  position: absolute;
  top: 0px;
  @include dflex($jc: flex-start);
  width: 100vw;
  .line-container {
    flex-grow: 1;
    height: 4px;
    border-radius: 3px;
    .line {
      height: 4px;
      margin-right: 10%;
      background-color: var(--sub-text-azure);
    }
  }
  h2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 80vw;
  }
  .space {
    flex-grow: 1;
  }
}

.content {
  width: 100%;
  height: 100%;
  @include dflex($jc: space-between, $g: 15%, $ai: flex-start);
  .description {
    display: flex;
    max-width: 45%;
    flex-direction: column;
    gap: 12px;
    p {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

.form {
  width: 100%;
}

.arrow-up{
  width: 50px;
  padding: 4px;
  margin: 60px 0px;
  cursor: pointer;
  @include dflex();
  border-radius: 20px;
  border: solid 2px #fff;
  &:hover {
    transform: scale(1.1);
    --webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
  }
}
