<main>
    <div class=contact-container>
        <div class="headline-container">
            <div class="line-container">
                <div class="line"></div>
            </div>
            <h2>Contact</h2>
            <div class="space"></div>
        </div>
        <div class="content">
            <div class="description">
                <p>Got a problem to solve?</p>
                <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing
                    to your projects with my work. <br><br> Need a Frontend developer? <strong>Contact me!</strong>
                </span>
            </div>
            <app-contact-form class="form"></app-contact-form>

        </div>
        <a class="arrow-up" href="#start"><img src="./../../../assets/img/icons/arrow-up.png"
                alt="icon-arrow-up"></a>
    </div>
</main>