@import "./../../../styles.scss";

main {
  @include dflex($ai: flex-start);
  position: relative;
  width: 100vw;
  height: auto;
  margin-top: 80px;
  overflow: hidden;
}

.contact-container {
  @include dflex();
  margin-top: 120px;
  flex-direction: column;
  width: 80vw;
  height: 100%;
  max-width: 1920px;
}

.headline-container {
  display: flex;
  position: absolute;
  top: 0px;
  @include dflex($jc: flex-start);
  width: 100vw;
  .line-container {
    flex-grow: 1;
    height: 4px;
    border-radius: 3px;
    .line {
      height: 4px;
      margin-right: 10%;
      background-color: var(--sub-text-azure);
    }
  }
  h2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 80vw;
  }
  .space {
    flex-grow: 1;
  }
}

.content {
  width: 100%;
  height: 100%;
  @include dflex($jc: space-between, $g: 15%, $ai: flex-start);

  @media (max-width: 1000px) {
    gap: 25px;
  }

  @media (max-width: 800px) {
    flex-direction: column;
  }

  .description {
    display: flex;
    max-width: 45%;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 800px) {
      max-width: 100%;
    }

    p {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

.form {
  width: 100%;
  z-index: 2;
}

.arrow-up {
  width: 50px;
  padding: 4px;
  margin: 40px 0px 20px 0px;
  cursor: pointer;
  @include dflex();
  border-radius: 20px;
  border: solid 2px #fff;
  z-index: 1;
  &:hover {
    transform: scale(1.1);
    --webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
  }
}


#last {
  position: absolute;
  top: -10%;
  right: -20%;
  width: clamp(700px, 99vw, 1200px);
  transform: rotate(310deg);
  z-index: -1;
  @media (max-width: 1000px) {
    top: -5%;
  }
  @media (max-width: 800px) {
    top: 20%;
  }
}
