<main>
    <div class=contact-container>
        <div class="headline-container">
            <div class="line-container">
                <div class="line"></div>
            </div>
            <h2>Kontakt</h2>
            <div class="space"></div>
        </div>
        <div class="content">
            <div class="description">
                <p>Wie kann ich unterstützen?</p>
                <span>Kontaktieren Sie mich über dieses Formular. Ich freue mich darauf, von Ihnen zu hören, Ihre Ideen
                    kennenzulernen und mit meiner Arbeit zu Ihren Projekten beizutragen. <br><br> Benötigen Sie einen
                    Frontend Enwickler? <strong>Melden Sie sich.</strong>
                </span>
            </div>
            <app-contact-form class="form"></app-contact-form>

        </div>
        <a class="arrow-up" href="#start"><img src="./../../../assets/img/icons/arrow-up.png" alt="icon-arrow-up"></a>
    </div>
</main>