@import "./../../styles.scss";

main {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.background-vector {
  width: 100vw;
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
  height: 50%;
}

.character-container {
  overflow-x: visible;
  position: relative;
  left: 3vw;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 900px;
  .background-image {
    position: absolute;
    width: 650px;
    z-index: -5;
  }
  .character-front,
  .character-back {
    position: absolute;
    width: clamp(400px, 30vw, 500px)
  }
  .character-back {
    z-index: -3;
  }
  .character-front {
    z-index: 5;
  }
}

.headline-container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.headline {
  display: flex;
  gap: 35px;
  font-size: 50px;
  z-index: 2;
  .vertical-headline {
    display: flex;
    align-items: flex-end;
    font-size: clamp(1.9rem, 3.4vw, 5.0rem);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  .horizontal-headline {
    display: flex;
    flex-direction: column;
    .name-headline {
      font-weight: 700;
      font-size: clamp(2.45rem, 4.2vw, 6rem);
      letter-spacing: clamp(8px, 0.7vw, 25px);
    }
    .sub-headline {
      font-size: clamp(2.22rem, 3.6vw, 5.3rem);
      background: linear-gradient(to right, #4b47ff, #00bee8, #4b47ff);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 75%;
      letter-spacing: -5px;
      overflow: hidden;
    }
  }
}
