<main>
    <img class="background-vector" src="./../assets/img/backgrounds/vector.png" alt="background-image-lights">
    <section>

            <div class="character-container">
                <img class="background-image" src="assets/img/backgrounds/purple-lightblue.png"
                    alt="background-image-purple-lightblue">
                <img class="character-front" src="./../../assets/img/character-front.png" alt="">
                <img class="character-back" src="./../../assets/img/character-back.png" alt="">
            </div>



        <div class="test"></div>

        <div class="headline-container">
            <div class="headline">
                <div class="vertical-headline"><span>I am</span></div>
                <div class="horizontal-headline">
                    <span class="name-headline">Ricki Weigel</span>
                    <span class="sub-headline">FRONTEND DEVELOPER</span>
                </div>
            </div>
        </div>
    </section>
</main>