main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding-top: 80px;
  height: auto;
  overflow: hidden;
}

#background-images{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#start, #about-me, #skills,#my-projects,#contact{
  z-index: 2;
}



