.all {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding-top: 80px;
  height: auto;
  overflow-x: hidden;
}


