<form action="https://ricki-weigel.com/send_mail/send_mail.php" #myForm method="post">
    <div class="input-area">
        <input #nameInput (keyup)="onKey($event, 'name')" name="name" type="text" placeholder="Name" (focus)="setFocus('name')"
            [class.border-green]="nameActive && nameValid" [class.border-red]="nameActive && !nameValid">
        <img *ngIf="nameActive && !nameValid" class="icon" src="./../../../../assets/img/icons/error.png"
            alt="icon-error">
        <img *ngIf="nameActive && nameValid" class="icon" src="./../../../../assets/img/icons/correct.png"
            alt="icon-correct">
        <label [class.visible]="nameActive && !nameValid" class="hide">
            {{errorMessage('nameInput')}}
        </label>
    </div>

    <div class="input-area">
        <input #emailInput (keyup)="onKey($event, 'email')" name="sender" type="text" placeholder="Email"
            (focus)="setFocus('email')" [class.border-green]="emailActive && emailValid"
            [class.border-red]="emailActive && !emailValid">

        <img *ngIf="emailActive && !emailValid" class="icon" src="./../../../../assets/img/icons/error.png"
            alt="icon-error">
        <img *ngIf="emailActive && emailValid" class="icon" src="./../../../../assets/img/icons/correct.png"
            alt="icon-correct">
        <label [class.visible]="emailActive && !emailValid" class="hide">
            {{errorMessage('emailInput')}}
        </label>
    </div>

    <div class="input-area">
        <textarea #textarea type="text" placeholder="Nachricht" name="message" (keyup)="onKey($event, 'textarea')"
            (focus)="setFocus('textarea')" [class.border-green]="textareaActive && textareaValid"
            [class.border-red]="textareaActive && !textareaValid"></textarea>
        <img *ngIf="textareaActive && !textareaValid" class="icon" src="./../../../../assets/img/icons/error.png"
            alt="icon-error">
        <img *ngIf="textareaActive && textareaValid" class="icon" src="./../../../../assets/img/icons/correct.png"
            alt="icon-correct">
        <label [class.visible]="textareaActive && !textareaValid" class="hide">
            {{errorMessage('textareaInput')}}
        </label>
    </div>

    <div class="agree-privacy-policy">
        <input type="checkbox" id="agree-checkbox" (change)="onCheckboxChange($event)">
        <span>Ich habe die <a href="">Datenschutzbestimmungen </a> gelesen und stimme der Verarbeitung meiner Daten wie beschrieben zu.</span>
    </div>

    <button [disabled]="!checkFormValid()" class="button-to-contact">Nachricht senden :)</button>
</form>