<section>
    <main>
        <img class="background-left" src="./../../assets/img/backgrounds/purple-shadow.png"
            alt="background-image-purple">

        <div class="headline-container">
            <div class="headline">
                <div class="vertical-headline"><span>I am</span></div>
                <div class="horizontal-headline">
                    <span class="name-headline">Ricki Weigel</span>
                    <span class="sub-headline">FRONTEND DEVELOPER</span>
                </div>
            </div>
        </div>

        <div class="btn-container">
            <a href="">Let's talk!</a>
        </div>

        <img src="./../../assets/img/backgrounds/neon-shadow.png" alt="background-image-neon" class="background-right">

        <a class="scroll-down" href="">
            <span>Scroll down</span>
            <img src="./../../assets/img/icons/arrow.png" alt="arrow">
        </a>

    </main>

    <div class="footer-container">
        <div class="line"></div>

        <a href="https://www.github.com/RickiWeigel" target="_blank"><img src="./../../assets/img/icons/icon-github.png"
                alt="icon-github"></a>

        <a href="mailto:" target="_blank"><img src="./../../assets/img/icons/icon-mail.png" alt="icon-mail"></a>

        <a href="https://www.linkedin.com/in/ricki-weigel-85748a2a8/" target="_blank"><img
                src="./../../assets/img/icons/icon-linkedin.png" alt="icon-linkedin"></a>

    </div>
</section>