@import "./../../../../styles.scss";

main {
  @include dflex();
  width: 100vw;
  height: 25vh;
  overflow: hidden;
  border-top: 4px solid var(--sub-text-azure);
  flex-direction: column;
  padding: 25px 0;
  @media (max-width: 1000px) {
    justify-content: space-between;
  }

  .footer-container {
    @include dflex($jc: space-between);
    width: 80vw;
    max-width: 1920px;

    @media (max-width: 1000px) {
      flex-direction: column;
      gap: 20px;
    }

    .logo {
      @include dflex($jc: flex-start);
      width: 180px;
      @media (max-width: 1000px) {
        justify-content: center;
      }
      img {
        width: 75px;
      }
    }

    .copyright {
      font-size: 1.1rem;
    }
    .social-media {
      display: flex;
      align-items: center;
      gap: 42px;
      width: 180px;
      a {
        @include dflex();
        cursor: pointer;
        transition: all 125ms ease-in-out;
        border-radius: 50%;
        img {
          width: 30px;
          height: 30px;
          transition: all 125ms ease-in-out;
          &:hover {
            transform: scale(1.1);
            --webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
            filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
          }
        }
      }
    }
  }
  .imprint {
    @include dflex($jc: flex-start);
    width: 80vw;
    max-width: 1920px;

    @media (max-width: 1000px) {
      justify-content: center;
    }

    a {
      color: #fff;
    }
  }
}
