<main>
    <div class="footer-container">
        <div class="logo">
            <img src="./../../../../assets/img/rw-logo.png" alt="logo">
        </div>
        <div class="copyright"><p>&copy; Ricki Weigel 2024</p></div>
        <div class="social-media">
                <a href="https://github.com/RickiWeigel" target="_blank"><img
                        src="./../../../assets/img/icons/icon-github.png" alt="icon-github"></a>
                <a href="mailto:contact@ricki-weigel.com"><img src="./../../../assets/img/icons/icon-mail.png" alt="icon-mail"></a>
                <a href="https://www.linkedin.com/in/ricki-weigel-85748a2a8/" target="_blank"><img
                        src="./../../../assets/img/icons/icon-linkedin.png" alt="icon-linkedin"></a>
        </div>
    </div>
    <div class="imprint"><a href="/imprint">Impressum & Datenschutz</a></div>

</main>