<main>
    <div class="backgrounds-content">
        <img id="bg-1" src="./../../../assets/img/backgrounds/purple-shadow.png">
        <img id="bg-2" src="./../../../assets/img/backgrounds/neon-shadow.png">
        <img id="bg-3" src="./../../../assets/img/backgrounds/green-shadow2.png">
        <img id="bg-4" src="./../../../assets/img/backgrounds/blue-shadow2.png">
        <img id="bg-5" src="./../../../assets/img/backgrounds/green-shadow.png">
        <img id="bg-6" src="./../../../assets/img/backgrounds/blue-shadow.png">
        <img id="last" src="./../../../assets/img/backgrounds/green-shadow2.png">
    </div>
    
</main>
