<main>
    <div class="skills-container">

        <div id="button-resp" class="button-container d-none"><a href="#contact"><button class="button-to-contact">Kontakt aufnehmen</button></a></div>

        <div class="skillbox">
            <div class="skill-column-container">
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/html.png" alt="html-icon">
                        <span>HTML</span>
                    </div>
                </div>
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/css.png" alt="css">
                        <span>CSS</span>
                    </div>
                </div>
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/javascript.png" alt="javascript">
                        <span>JavaScript</span>
                    </div>
                </div>
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/angular.png" alt="angular-icon">
                        <span>Angular</span>
                    </div>
                </div>
            </div>

            <div class="skill-column-container">
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/typescript.png" alt="typescript">
                        <span>TypeScript</span>
                    </div>
                </div>
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/api.png" alt="api-icon">
                        <span>REST APIs</span>
                    </div>
                </div>
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/firebase.png" alt="firebase">
                        <span>firebase</span>
                    </div>
                </div>
            </div>

            <div class="skill-column-container">
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/git.png" alt="git-icon">
                        <span>Git</span>
                    </div>
                </div>
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/scrum.png" alt="scrum-icon">
                        <span>Scrum</span>
                    </div>
                </div>
            </div>

            <div class="skill-column-container">
                <div data-aos="flip-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/materialDesign.png" alt="materials-icon">
                        <span>Materials</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="skillbox-resp" class="skillbox d-none">
            <div  class="skill-column-container">
                <div data-aos="fade-right" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/html.png" alt="html-icon">
                        <span>HTML</span>
                    </div>
                </div>
                <div data-aos="fade-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/css.png" alt="css">
                        <span>CSS</span>
                    </div>
                </div>
                <div data-aos="fade-right" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/javascript.png" alt="javascript">
                        <span>JavaScript</span>
                    </div>
                </div>
                <div data-aos="fade-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/angular.png" alt="angular-icon">
                        <span>Angular</span>
                    </div>
                </div>
            </div>

            <div class="skill-column-container">
                <div data-aos="fade-right" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/typescript.png" alt="typescript">
                        <span>TypeScript</span>
                    </div>
                </div>
                <div data-aos="fade-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/api.png" alt="api-icon">
                        <span>REST APIs</span>
                    </div>
                </div>
                <div data-aos="fade-right" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/firebase.png" alt="firebase">
                        <span>firebase</span>
                    </div>
                </div>
            </div>

            <div class="skill-column-container">
                <div data-aos="fade-right" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/git.png" alt="git-icon">
                        <span>Git</span>
                    </div>
                </div>
                <div data-aos="fade-left" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/scrum.png" alt="scrum-icon">
                        <span>Scrum</span>
                    </div>
                </div>
                <div data-aos="fade-right" class="icons-column">
                    <div class="icon-container">
                        <img src="./../../../assets/img/icons/skills/materialDesign.png" alt="materials-icon">
                        <span>Materials</span>
                    </div>
                </div>
            </div>
        </div>

        <div data-aos="fade-left" class="headline-container">
            <div   class="headline">
                <h2>Skills</h2>
                <div class="line"></div>
            </div>
            <span>Ich habe umfangreiche Erfahrungen in der Entwicklung von Projekten unter Verwendung verschiedener Frontend-Technologien und Konzepte gesammelt.</span>
            <div class="button-container"><a href="#contact"><button class="button-to-contact">Kontakt aufnehmen</button></a>
            </div>
        </div>

        
    </div>



</main>

